h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:30px;
    padding-top: 20px;
    
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    float:left;
    padding-left:20px;
}



#subtitle{
    font-family: Arial, Helvetica, sans-serif;
    padding-left:30px;
    padding-bottom:20px;
    font-size: 20px;
}

table, td{
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 2px;
    text-align:left;
    margin-bottom: 200px;
}

th{
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 2px;
    text-align:left;
    background-color:black;
    color:white;
}


#infoForm{
    font-family: Arial, Helvetica, sans-serif;
    float:left;
    padding-left:30px;
}


#monthlyBudgetContainer{
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    /* margin-right: 12px;
    margin-top:280px; */
    float:left;
    height: 100px;
    width: 120px;
    border-style: solid;
    background-color: rgb(26, 156, 26);
    padding-bottom:5px;
    padding-left: 12px;
    padding-right:12px;
    text-align:top;
    margin:50px; 

}

#employeeInfoTable{
    float:left;
    font-family: Arial, Helvetica, sans-serif;    
    border-style: solid;
    border-width: 2px;
    margin-left: 20px;
}

caption{
    float:left
    
}

#bigContainer{
    width: 570px;
    height:270px;
    background-color: gray;
    padding: 20px;
    margin-left: 20px;
}